# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
.venv/

# Variables de entorno
.env
.env.production
.env.local
*.env

# Django
*.sqlite3
staticfiles/
media/
logs/
*.log

# Node
node_modules/
dist/
coverage/
.npm_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Claude Code
.claude/
