# Copia este archivo como .env y ajusta los valores
# cp .env.example .env

DEBUG=True
SECRET_KEY=django-insecure-dev-key-only-use-in-local-not-production
FERNET_KEY=c2VjcmV0LWtleS1mb3ItZGV2LW9ubHktMzItY2hhcg==

ALLOWED_HOSTS=127.0.0.1,localhost

CORS_ALLOW_ALL_ORIGINS=True

DB_NAME=doc_platform_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
